*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  block-size: 100%;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  background-color: #1b1919;
  font-family: 'Oswald', 'Arial', 'Helvetica', sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

*, a:focus {
  outline: none;
}

.content {
  margin: 0 auto;
  display: flex;
  align-items: end;
  gap: 30px;
  padding: 133px 30px;
}

.button {
  background-color: transparent;
  color: currentColor;
  font-size: 18px;
  border: 1px currentColor solid; 
  outline: none;
  font-weight: 700;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {

  box-shadow: inset 0 0 0 1px #1b1919, inset 0 0 0 2px white; 

}

/* Result */

.result {
  
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;

  
  font-family: 'Fira Sans Condensed', 'Arial', 'Helvetica', sans-serif;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.more-button {
  /* border: 1px solid currentColor; */
  width: 100%;
}

/* Search form */

.search-form {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', 'Arial', 'Helvetica', sans-serif;
}

.search-form__textfield {
  width: 225px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

input::placeholder {
  font-family: 'Fira Sans Condensed', 'Arial', 'Helvetica', sans-serif;
  color: rgba(255, 255, 255, 0.70);
  font-size: 18px;
}

.search-form__fieldset-title {
  line-height: 22px;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  min-height: 49px;
  padding-bottom: 5px;
  border: 0;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  border: 1px solid white;
  box-shadow: inset 0 0 0 1px #1b1919;
  padding-left: 1px;
}

.search-form__label-text {
  line-height: 22px;
}

.search-form__textfield {
  color: currentColor;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 18px;
  appearance: none;
  background-color: transparent;
  overflow: visible;
}

label .search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid white;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  background-color: currentColor;
  box-shadow: inset 0 0 0 1px #1b1919;
}

.search-form__submit-button {
  border: 1px solid white;
  width: 194px;
  padding-left: 37.5px;
  padding-right: 37.5px;
}

/* Content details */

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 400px;
  max-height: 530px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  border: 1px solid white;
}

.title {
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  font-weight: 700;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: scroll;
  
}

.content__list-item {
  display: flex;
  justify-content: space-between;
}

/* Шаблон пункта списка с карточкой видео */

.content__video-card {
  border:#1b1919;
  width: 400px;
}

.content__video-card-title {
  padding-top: 5px;
  font-family: 'Oswald', 'Arial', 'Helvetica', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 100%;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 0.9;
  font-family: 'Fira Sans Condensed', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  width: 194px;
  height: 103px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
}

